{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Add a Category
{% endblock %}

{% block body_block %}
    <div class="container-fluid py-3">
        <div class="row bg-light rounded-3">
            <h1 class="display-5 fw-bold">Add a Category</h1>
        </div>
        <div class="row p-5">
            <div class="col-md-6">
                <form id="category_form" method="post" action="{% url 'rango:add_category' %}">
                    {% csrf_token %}
                    <div class="form-floating">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}<br/>
                    {% endfor %}
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit" value="Add Category">
                        Add Category
                    </button>
                </form>
            </div>  
        </div>
    </div>
{% endblock %}